/*
  FOOTER FOR THE STATIC PAGE
  */

footer {
  background-color: white;
  height: 60px;
  width: 100%;
  border-top: 1px #cccccc;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0%;
}
