footer {
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0%;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
}