.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 12px 0;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  border: none;
  float: right;
  margin: 12px 30px;
}

.filters button:hover {
  opacity: 0.9;
}
